<h3>Email</h3>

<label for="exampleFormControlInput1" class="email-label">From:</label>
<p id="email-from" class = 'email-field'></p>

<label for="compose-recipients" class="email-label" >To:</label>
<p id="email-recipients" class = 'email-field'></p>

<label for="compose-recipients" class="email-label">Subject:</label>
<p id="email-subject" class = 'email-field'></p>

<label for="email-body" class="email-label">Body:</label>
<p id="email-body" class = 'email-field'></p>

<label for="email-time" class="email-label-time">Timestamp:</label>
<p id="email-time" class = 'email-time'></p>
<hr>

<button id="reply" class="btn btn-outline-light">Reply</button>
