{% extends "mail/layout.html" %}
{% load static %}

{% block body %}


    <div class="row">
        <div class="column left">
            {% include 'mail/navbar.html' %}
        </div>

        <div class="column right">
            <hr>

            <div id="inbox-view">
                
            </div>

            <div id="compose-view">
                {% include 'mail/compose.html' %}
            </div>

            <div id="email-view">
                {% include 'mail/email.html' %}
            </div>

        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}