{% extends "mail/layout.html" %}
{% load static %}

{% block body %}


    <div class="row">
        <div class="column left">
            {% include 'mail/navbar.html' %}
        </div>

        <div class="column right">
            <hr>

            <div id="emails-view">
                <ul id="emails-list" class="list-group list-group-flush">
                    <li>dummy</li>
                <ul>
            </div>

            <div id="compose-view">
                {% include 'mail/compose.html' %}


            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}